<b>Estadísticas</b><br><br>

<table border="1">
    <tr>
        <td>Nº Preguntas</td>
        <td>Nº Comentarios totales</td>
        <td>Nº medio de comentarios por pregunta</td>
        <td>Nº de preguntas sin comentarios</td>
        <td>Nº de preguntas con comentarios</td>
    </tr>
    <tr>
        <td><%= datosEstadistica.nPreg %></td>
        <td><%= datosEstadistica.nComTot %></td>
        <td><%= datosEstadistica.nComMedxPreg %></td>
        <td><%= datosEstadistica.nPregSinCom %></td>
        <td><%= datosEstadistica.nPregConCom %></td>
    </tr>
</table>
